$mainColor:rgb(218, 214, 214);
$subColor:#000;
@font-face {
	font-family: 'gothic';
	src: url('./gothic.eot');
	src: local('gothic'), url('./gothic.woff') format('woff'), url('./gothic.ttf') format('truetype');
}
* {	box-sizing: border-box;
}

html
body{
	font-family: 'gothic';
	src: url("gothic.woff");
	font-size:1.2em;
	width:100%;
	margin:0;
	padding:0;
	background-color:$subColor;
	header{
		background-color:$mainColor;
		article{
			background-color:$subColor;
			color:#fff;
			text-align:center;
			#fieldParent{
				#field{
					height:55vh;
					max-height: 90vh;
					max-width:100%;
				}
			}
			h1{
				margin:0;
				padding-bottom:0;
				text-align:center;
			}
			section{
				padding:2vh;
				padding-top:0;
			}
		}	

	}
	nav{
	position: -webkit-sticky;
	position: sticky;
	top:0;
	z-index:6;
		ul{
		color:#fff;
		background-color:$subColor;
		padding:2vh;
		margin:0;
			li{
				list-style-type: none;
				width:49%;
				display:inline-block;
				&:nth-child(2){
					vertical-align:bottom;					
					text-align:right;
					margin-top:10px;
					margin-bottom:0;
				}
				p{
					margin:0;
				}
				img{
					width:30%;
				}
			}
		}
	}
	article{
		margin-top:4vh;
		width:100%;
		background-color: $mainColor;
		padding:0 2%;
		text-align:center;
		&:nth-child(even){
			background-color:$subColor;
			color:$mainColor;
		}
		h1{
			text-align:left;
			margin:0;
			padding:3%;
			padding-bottom:0;
		}
		h5{
			margin:0;
			position:relative;
			box-sizing: border-box;
			display: inline-block;
			vertical-align: middle;
			font-weight: normal;
			padding:5%;
			padding-top:3%;
			img{
				width:100%;
				
			}
			.slideshow-container{
				padding-bottom:5%;
				.mySlides {
					display:none;
				}
			}
		}
		.social{
			width:100%;
		//	background-color:$subColor;
			a{
				text-decoration:none;
				color:$subColor;
				font-size:3em;
				padding:0.5%;
				border-radius:15px;
				&:nth-child(1):hover,:active{background-image: linear-gradient(to bottom left, #B631BA, #F14C56, #FED452);	} // insta
				&:nth-child(2):hover,:active{background-color:#0084FF;	} // messenger
				&:nth-child(3):hover,:active{background-color:#3B5998;	} // fb
				&:nth-child(0):hover,:active{background-color:#3B5998;	} // fb
				&:hover{
					color:$mainColor;
				}
				i{
					box-sizing:border-box;
					margin:2%;
					background-size:100% 100%;
				}

			}
		
		}
		table{
			width:100%;
			padding:2%;
			color:$mainColor;
			tr{
				text-align:center;
				&:nth-child(1){
					font-weight:bold;
				}
				td{
					padding:5%;
					border:1px dotted $mainColor; 
				}
			}
		}
		ol{
			text-align:left;
			padding:0;
			padding-left:2%;
			font-size:0.8em;
			li{
				padding-top:1%;
			}
		}
		.guideScene{
			position:relative;
			.guide_scene{
				height:60vh;
				width:auto;
			}
			.lustro_interface{
				height:100%;
				left:0;
				right:0;
				margin:auto;
				position:absolute;
				top:0;
				background-size:100% 100%;
				background-position:100% 100%;
			}
		}
		.guideButton{
			cursor:pointer;
			position:absolute;
			z-index:100;
			background-image:url("../img/guide/przycisk.png");
			background-size:100% 100%;
			background-position:100% 100%;
			background-repeat:no-repeat;
			width:70px;
			height:40px;
			bottom:35vh;
			left:-5;
			border:1px solid transparent;
			&:after{
				content:"";
				pointer-events: none;
				position:absolute;
				background-image:url("../img/guide/stojak.png");
				background-size:100% 100%;
				background-repeat:no-repeat;
				background-position:100% 100%;
				width:70px;
				height:35vh;
				bottom:-35vh!important;
				left:-1;
				background-color:$subColor;
			}
			&:active{
				animation: 1s 5s guideButton linear infinite;
				@keyframes guideButton {
					div {
						margin-top: 500px;
					}
				}
				bottom:34vh;
				&:after{
					bottom:-34vh!important;
				}
			}
		}	
	}
	#produkty{
		h5:nth-child(1){
			background-color:$subColor;
		}	
	}	
	footer{
		background-color: $subColor;
		color:#fff;
		padding:10vh 0;
	}
}
@media only screen and (min-width: 850px) {
	html,
	body{
		font-size:1.5em;
		article{
			width:100%!important;
			h5{
				width:49%;
			}
		}
	}
	.guideScene{
		.guide_scene{
			max-width:70%;
		
		}
	}
}











// slider
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.8);
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
	left:0;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}