*{ box-sizing: border-box }
html,
body {
	color:#fff;
	font-family:Century Gothic;
	overflow:hidden;
	margin:0;
}
#plotter{
	z-index:0;	
}
#video-demo {
	position: absolute;
}

/* 

 */
.camDIVWrapper{
	width:fit-content;
	position:fixed;
	bottom:0;
	right:0;
}
.camDIV{
	width:640px;
	height:480px;
	position: relative;
}
.camDIV #webcam {
	display:none;
}
.camDIV #canvas-source {
	position: absolute;
}
.camDIV #canvas-blended {
	position: absolute;
	top: 407px;
	left: 500px;
	width: 150px;
	height: 113px;
}
.camDIV #buttons {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	border: 1px solid yellow;
}
.camDIV #buttons #front {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:1;
	width: 640px;
	margin: 0px;
	padding: 0px;
}
.camDIV #buttons #front img {
	margin: 0px;
	padding: 0px;
	position: absolute;
}
.camDIV #buttons #button0 { 
	left: 170px;
	top: 100px;
}
.camDIV #buttons #button1 { 
	left: 140px;
	top: 360px;
}
.camDIV #buttons #button2 {
	left: 430px;
	top: 360px;
}
.camDIV #buttons #button3 {
	left: 400px;
	top: 130px;
}
.animationSF{
	width:50%;
}
.emulateImg{
	width:100px;
	height:100px;
	background-color:red;
}
#disMess{
	text-align:center;
	vertical-align:middle;
	padding:5%;
}
#mainscene{
	border:2px dashed blue;
	position:fixed;
	width:100%;
	height:101%;
	text-align:center;
	vertical-align:middle;
	color:#fff;
	font-size:5em;
	z-index:4;
	left:0;
	top:0;
	opacity:1;
	display:none;
}
#gesture{
	align-items: center;
	display:flex;
	height:100%;
	justify-content: center;
	left:0;
	position: absolute;
	top:0;
	width:100%;
	z-index:5;
}
:root{
	--el-size:35vw;
	--borders-size:50px;
	--light: #FFF;
	--light-secondary: #848484;
	--dark: #000;
}
.stageWrapper{
	z-index:6;
	background:var(--dark);
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
.gestureWrapper{
	transition:3s;
}
#loader {
	z-index:6;
}
#loader,
.gesture{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gestureAnimation {
	border:2px solid var(--light-secondary);
	border-width: 0 var(--borders-size) var(--borders-size) var(--borders-size);
	border-radius: 0 0 47.5% 47.5%;
	height: calc(var(--el-size) * 1.3 ) ;
	width:var(--el-size);
	display:flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	transition: .5s;
  stroke-dasharray: 300;
	filter: drop-shadow(0px 0px 5px #fff);
}
.ga0 { stroke-dashoffset: 300 }
.ga1 { stroke-dashoffset: 230 }
.ga2 { stroke-dashoffset: 157 }
.ga3 { stroke-dashoffset: 85 }
.ga4 { stroke-dashoffset: 0 }

.btns{
	border:2px dashed red;
	position: fixed;
	left:0;
	bottom:0;
	z-index:6;
	display:none;
}

#countP{
	font-size:5em;
	color:#fff;
	padding:0;	
}
@keyframes rotate {
	from { transform: rotate(0deg) }
	to { transform: rotate(360deg) }
}
.detect-contrainer{
	display:none;
}
.gestPic{
	position:absolute;
	width:100%;
	display:none;
	
}
.bigButton{
	font-size:15em;
	cursor:pointer;
}
