/* html{
	width:100%;
	height:100%;
	background-color:#000;
}
html::webkit-scrollbar{
	display:none;
}
 */
*{ box-sizing: border-box }
html,
body {
	background:rgb(51, 36, 36);
	border:2px dashed red;
	color:#fff;
	font-family:Century Gothic;
	overflow:hidden;
	margin:0;
}
/* body{ */
 	/* padding:0; */
/*  
	WYŁĄCZA WEBCAM 
	I JEBE FOTY
/* */
	/* position:absolute; */
	/* left:10px; */
	/* top:1px; */
/*  */
/* } */
#plotter{
	z-index:0;	
}
#video-demo {
	position: absolute;
	
}
#webcam {
	position: absolute;
	top: 150px;
	left: 10px;
	display:none;
}
#canvas-source {
	position: absolute;
	top: 40px;
	left: 10px;
}
#canvas-blended {
	position: absolute;
	top: 407px;
	left: 500px;
	width: 150px;
	height: 113px;
}
#buttons {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	border: 1px solid yellow;
}
#buttons #front {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:1;
	width: 640px;
	margin: 0px;
	padding: 0px;
}
#buttons #front img {
	margin: 0px;
	padding: 0px;
}
#buttons #front img {
	position: absolute;
}
#buttons #button0 { 
	left: 170px;
	top: 100px;
}
#buttons #button1 { 
	left: 140px;
	top: 360px;
}
#buttons #button2 {
	left: 430px;
	top: 360px;
}
#buttons #button3 {
	left: 400px;
	top: 130px;
}
.camDIV{
	background-color:red;
}
.animationSF{
	width:50%;
}
.emulateImg{
	width:100px;
	height:100px;
	background-color:red;
}
#disMess{
	text-align:center;
	vertical-align:middle;
	padding:5%;
}
#mainscene{
	position:fixed;
	width:100%;
	height:101%;
	text-align:center;
	vertical-align:middle;
	/* background-color:#000; */
	color:#fff;
	font-size:5em;
	z-index:4;
	left:0;
	top:0;
	opacity:1;
}
#gesture{
	align-items: center;
	/* background: #000; */
	background: rgba(0, 0, 0, 0.9);
	display:flex;
	height:100%;
	justify-content: center;
	left:0;
	position: absolute;
	top:0;
	width:100%;
	z-index:5;
}


:root{
	/* --el-size:360px; */
	--el-size:35vw;
	--borders-size:50px;
	--light: #FFF;
	--light-secondary: #848484;
}

.gesture{
	position:absolute;
	width:100%;
	height:100%;
	/* border:2px dashed blue; */
	/* border:2px dashed var(--light); */
	left:0;
	top:0;
	z-index:6;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background: rgba(126, 78, 78, 0.658); */
}
/* .gestureAnimationWrapper { */
	/* background: green; */
	/* border:2px dashed blue;
	border-radius: 50%;
	height:var(--el-size);
	width:var(--el-size); */
/* } */
/* .gestureAnimationWrapper .gestureAnimation { */
.gestureAnimation {
	/* border:2px solid blue; */
	/* border:2px solid var(--light); */
	border:2px solid var(--light-secondary);
	border-width: 0 var(--borders-size) var(--borders-size) var(--borders-size);
	border-radius: 0 0 47.5% 47.5%;
	height: calc(var(--el-size) * 1.3 ) ;
	width:var(--el-size);
	display:flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
}
.gestureAnimation::before{
	content:"";
	border:2px solid red;
	border-width: 0 var(--borders-size) var(--borders-size) var(--borders-size);
	border-radius: 0 0 47.5% 47.5%;
	height: calc(var(--el-size) * 1.3 ) ;
	width:var(--el-size);
	display:flex;
	justify-content: center;
	align-items: flex-start;
	width:100%;
	height:100%;
	position: absolute;
	border-color: red green blue yellow;
}

.gestureAnimation::after {
	content: "";
	background: rgba(255, 0, 0, 0.507);
	/* width:calc((100% + var(--borders-size) * 2.4) ); */
	position: absolute;
	width:300%;
	/* width:100%; */
	height:200%;
	/* left:calc(var(--borders-size) * -3.5); */
	top:calc(var(--borders-size) * -3);
	/* right:calc(var(--borders-size) * -1.5); */
	right:50%;
	/* top:-200%; */
	/* top:0; */
	/* right:0; */
	/* right:calc(-1.2 * var(--borders-size)); */
	/* left:-100%; */
	/* left:0; */
	/* left: calc(50% - var(--borders-size)); */
	/* transform-origin: top right; */
	/* transform-origin: top right; */
	/* transform-origin: top center; */
	transform-origin: top right;
  transition: transform .5s linear;
  /* transform-origin: top left; */
  /* transform-style: preserve-3D; */
	/* transform: rotate(-120deg); */
}
/* .ga1::after { transform: rotate(-30deg) } */
.ga1::after { 
	transform: rotate(-50deg);
	/* top:calc(var(--borders-size) * -.1); */
	/* top:10px; */
}
.ga2::after { 
	right:50%;
	transform: rotate(-90deg) 

}
.ga3::after { transform: rotate(-135deg) }
.ga4::after { 
	transform: rotate(-180deg); 
	right:calc( var(--borders-size));
}

.gestureAnimation svg {
	margin-top: calc(var(--el-size)/4);
}

/* development buttons */
.btns{
	border:2px dashed red;
	position: fixed;
	left:0;
	bottom:0;
	z-index:6;
}

#countP{
	font-size:5em;
	color:#fff;
	padding:0;	
}
#loader{
	border:2px dashed blue;
	display:none;
	position:fixed;
	z-index:7;
	width:100%;
	height:100%;
	background:#000;	
}
.detect-contrainer{
	display:none;
}
.loader_img{
	margin-top:5%;
	height:80%;
	-webkit-animation:spin s linear infinite;
}
.gestPic{
	position:absolute;
	width:100%;
	display:none;
	
}
.bigButton{
	font-size:15em;
	cursor:pointer;
}
